In [101]:
import pandas as pd

In [102]:
regs = pd.read_csv('/home/sushkarthik/log/event_based_csv/all_registrations.csv', delimiter = ' ', names = ['day', 'my_date', 'my_time','user_id','registrations','birth_year','phone_type', 'location','source'], usecols=['my_date', 'user_id','registrations','birth_year','phone_type', 'location','source'])
free_tree = pd.read_csv('/home/sushkarthik/log/event_based_csv/all_free_tree.csv', delimiter = ' ', names = ['day', 'my_date', 'user_id', 'free_tree'])
super_tree = pd.read_csv('/home/sushkarthik/log/event_based_csv/all_super_tree.csv', delimiter = ' ', names = ['day', 'my_date', 'user_id', 'super_tree'])

In [103]:
reg_users = regs.groupby('user_id').count()[['registrations']].reset_index()

In [104]:
super_users = super_tree.groupby('user_id').count()[['super_tree']].reset_index()

In [105]:
paid_users = super_users[super_users.super_tree >1]

In [106]:
free_users = free_tree.groupby('user_id').count()[['free_tree']].reset_index()

In [107]:
funnel_table = reg_users.merge(free_users, how = 'outer', on = 'user_id').merge(super_users, how = 'outer', on = 'user_id')

In [108]:
funnel_table= funnel_table.merge(paid_users, how = 'outer', on = 'user_id')

In [109]:
funnel_table.head()

   user_id  registrations  free_tree  super_tree_x  super_tree_y
0  1000001              1        5.0           NaN           NaN
1  1000002              1        4.0           NaN           NaN
2  1000003              1       37.0           NaN           NaN
3  1000004              1        NaN           NaN           NaN
4  1000005              1        6.0           NaN           NaN

In [110]:
funnel_table = funnel_table[['user_id', 'registrations', 'free_tree','super_tree_x','super_tree_y']]
funnel_table = funnel_table.fillna(value = 0)

In [111]:
funnel_table.head()

   user_id  registrations  free_tree  super_tree_x  super_tree_y
0  1000001              1        5.0           0.0           0.0
1  1000002              1        4.0           0.0           0.0
2  1000003              1       37.0           0.0           0.0
3  1000004              1        0.0           0.0           0.0
4  1000005              1        6.0           0.0           0.0

In [112]:
funnel_table= funnel_table.rename(columns={"super_tree_x": "super_tree", "super_tree_y": "paid_users"})

In [113]:
funnel_table

       user_id  registrations  free_tree  super_tree  paid_users
0      1000001              1        5.0         0.0         0.0
1      1000002              1        4.0         0.0         0.0
2      1000003              1       37.0         0.0         0.0
3      1000004              1        0.0         0.0         0.0
4      1000005              1        6.0         0.0         0.0
5      1000006              1        4.0         0.0         0.0
6      1000007              1       11.0         1.0         0.0
7      1000008              1        0.0         0.0         0.0
8      1000009              1       31.0         0.0         0.0
9      1000010              1        1.0         6.0         6.0
10     1000011              1       11.0         2.0         2.0
11     1000012              1       35.0         0.0         0.0
12     1000013              1        9.0         1.0         0.0
13     1000014              1        3.0         0.0         0.0
14     1000015              1        0.0         0.0         0.0
15     1000016              1       20.0         0.0         0.0
16     1000017              1        0.0         0.0         0.0
17     1000018              1        6.0         0.0         0.0
18     1000019              1       25.0         1.0         0.0
19     1000020              1        1.0         0.0         0.0
20     1000021              1        0.0         0.0         0.0
21     1000022              1       46.0         3.0         3.0
22     1000023              1       13.0         0.0         0.0
23     1000024              1        1.0         0.0         0.0
24     1000025              1       18.0         0.0         0.0
25     1000026              1        0.0         2.0         2.0
26     1000027              1        3.0         0.0         0.0
27     1000028              1        1.0         0.0         0.0
28     1000029              1        9.0         0.0         0.0
29     1000030              1       17.0         1.0         0.0
...        ...            ...        ...         ...         ...
63014  1063015              1        0.0         0.0         0.0
63015  1063016              1        0.0         0.0         0.0
63016  1063017              1        3.0         1.0         0.0
63017  1063018              1        2.0         1.0         0.0
63018  1063019              1        1.0         0.0         0.0
63019  1063020              1        0.0         0.0         0.0
63020  1063021              1        9.0         0.0         0.0
63021  1063022              1        0.0         0.0         0.0
63022  1063023              1       15.0         1.0         0.0
63023  1063024              1        0.0         0.0         0.0
63024  1063025              1        1.0         0.0         0.0
63025  1063026              1        4.0         1.0         0.0
63026  1063027              1        0.0         0.0         0.0
63027  1063028              1        0.0         0.0         0.0
63028  1063029              1        4.0         0.0         0.0
63029  1063030              1        1.0         0.0         0.0
63030  1063031              1        2.0         0.0         0.0
63031  1063032              1        2.0         1.0         0.0
63032  1063033              1        3.0         0.0         0.0
63033  1063034              1        4.0         1.0         0.0
63034  1063035              1        3.0         0.0         0.0
63035  1063036              1       14.0         1.0         0.0
63036  1063037              1        2.0         0.0         0.0
63037  1063038              1        2.0         0.0         0.0
63038  1063039              1        1.0         0.0         0.0
63039  1063040              1       10.0         0.0         0.0
63040  1063041              1        2.0         1.0         0.0
63041  1063042              1        1.0         1.0         0.0
63042  1063043              1        3.0         0.0         0.0
63043  1063044              1        6.0         0.0         0.0

[63044 rows x 5 columns]